<div class="login-container">
  <h2>Iniciar sesión</h2>
  <form #loginForm="ngForm" (ngSubmit)="login()" novalidate>
    <input
      type="email"
      placeholder="Correo electrónico"
      [(ngModel)]="email"
      name="email"
      #emailInput="ngModel"
      required
      email
    />

    <!-- Mensaje de error -->
    <div class="error-message" *ngIf="emailInput.invalid && emailInput.touched">
      Ingresa un correo electrónico válido.
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>

  <div class="create-account">
    ¿No tienes cuenta?
    <a (click)="showCreateUser = true">Crear nueva cuenta</a>
  </div>

</div>

<app-create-user-dialog
  *ngIf="showCreateUser"
  (close)="showCreateUser = false"
></app-create-user-dialog>

